name: mirror-labels

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  mirror-labels:
    runs-on: ubuntu-latest
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
    name: mirror-labels
    steps:
      - uses: actions/checkout@v5
      - uses: actions-automation/manage-your-labels@main
