name: Update Nix flake

on: workflow_call

jobs:
  nix-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_conf: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ github.token }}

      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.ENARX_BOT_APP_ID }}
          private_key: ${{ secrets.ENARX_BOT_APP_PRIVATE_KEY }}

      - uses: jessestricker/nix-flake-update@v1
        id: nix-update

      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          branch: nix-update
          commit-message: "build(nix): update flake lock"
          title: "build(nix): update flake lock"
          body: ${{ steps.nix-update.outputs.pull-request-body }}
          labels: dependencies, nix
          assignees: |
            rvolosatovs
          signoff: true
